.input {
  border: 1px solid goldenrod;
  background-color: lightgoldenrodyellow;
  padding: 2rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.input .field {
  width: 50%;
}

.input .textarea {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
